<h1 class="h3 mb-2 text-gray-800">Moradores</h1>
<p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione exercitationem ab, veniam ut dolores consectetur
  autem inventore necessitatibus provident eaque molestias aperiam !</p>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dados dos Moradores</h6>
    </div>
    <div class="card-body">

      <div class="my-2"></div>
      <a href="#" data-toggle="modal" data-target="#saveResidentModal" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Cadastrar Morador</span>
      </a>
      <div class="my-4"></div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Apartment</th>
                        <th>Block</th>
                        <th>Data de Registro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resident of residents">
                        <td>{{resident.name}}</td>
                        <td>{{resident.cpf}}</td>
                        <td>{{resident.email}}</td>
                        <td>{{resident.apartment}}</td>
                        <td>{{resident.block}}</td>
                        <td>{{resident.registrationDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--Modal cadastro de Moradores-->
<div class="modal fade bd-example-modal-xl" id="saveResidentModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Morador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="#">

          <div class="form-row">
            <div class="form-group col-md-6"> <!--classe sistema de grid-->
              <label class="form-label">Nome:</label>
              <input class="form-control" type="text">
            </div>

            <div class="form-group col-md-6"> <!--classe sistema de grid-->
              <label class="form-label">CPF:</label>
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12"> <!--classe sistema de grid-->
              <label class="form-label">Email:</label>
              <input class="form-control" type="text">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4"> <!--classe sistema de grid-->
              <label class="form-label">Apartment:</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group col-md-4"> <!--classe sistema de grid-->
              <label class="form-label">Block:</label>
              <input class="form-control" type="text">
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
</div>
