<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Inserir Veículo a Vaga</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">

  <div class="alert alert-danger" >
    <strong>Campo:</strong>  <br>
    <strong>Erro:</strong>
  </div>

  <div class="alert alert-danger" >
    <strong>Erro:</strong>  <br>
  </div>

  <form #residentToParkingSpotForm="ngForm" (ngSubmit)="insertResidentToParkingSpot()">

    <div class="form-row">
      <div class="form-group col-md-4"> <!--classe sistema de grid-->
        <label class="form-label">Número da Vaga:</label>
        <input class="form-control" type="text"  name="parkingSpotNumber">
      </div>

      <div class="form-group col-md-8"> <!--classe sistema de grid-->
        <label class="form-label">Placa do Veículo:</label>
        <input class="form-control" type="text"  name="plateCarNumber">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>

  </form>

</div>



